<div class="container-fluid bg-danger">
<div class="bg-danger">
 <h1 class="display-4">Simple Crud Demo Project</h1>
</div>
</div>
<div  class="container-fluid m-2">  
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">  
      <ul class="navbar-nav m-5 p-5">  
        <li class="nav-item mr-5 ">  
          <a routerLink="view-student" class="nav-link" class="btn btn-primary active" role="button" >View Student</a>  
        </li>   
        <li class="nav-item">  
          <a  routerLink="add-student" class="nav-link" class="btn btn-primary active" role="button" >Add Student</a>  
        </li>            
      </ul>  
    </nav>     
      <router-outlet></router-outlet>  
  </div>  